<div class="row">
  <div class="col-xs-12 col-centered">
    <img
    [src]="selectedRecipe.imagePath"
    alt="{{selectedRecipe.name}}"
    class="img-responsive"
    style="max-height: 320px;"
    >
  </div>
</div>
<p></p>
<div class="row row-centered">
  <div class="col-xs-8 col-centered">
    <h1>{{ selectedRecipe.name }}</h1>
  </div>
<!-- </div> -->
<!-- <div class="row"> -->
<p></p>
  <div class="col-xs-4 col-centered">
    <div
      class="btn-group pull-right"
      appDropdown
    >
      <button type="button" class="btn btn-primary dropdown-toggle">
        Options <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            style="cursor: pointer;"
            [routerLink]="['edit']"
          >Edit Recipe</a> </li>
        <li> <a style="cursor: pointer;">Delete Recipe</a> </li>
        <li role="separator" class="divider"></li>
        <li> <a (click)="onAddToShoppingList()" style="cursor: pointer;">Add to Shopping List</a> </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ selectedRecipe.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group checked-list-box">
      <li
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of selectedRecipe.ingredients"
      >
        {{ingredient.name}}<span class="badge">{{ingredient.amount}}</span>
      </li>

    </ul>
  </div>
</div>
